.kolaberi{
    background-color: brown;
    text-align: center;
    margin-bottom: 50px;
    border-width: 10px;
    border-width: 10px;
    width: 200px;
    height: 50px;
    font-size: larger;

}
.kolaberi1{
    background-color: aqua;
    width: 300px;
    height: 300px;
    font-weight: 200;
}